/*
  Identificadores
*/
#menu-index{
  padding: 5px;
}

*{
  font-family: 'Dosis', sans-serif;
}

/*
  Clases
*/
.centrado{
    width: 300px;
    margin: 0 auto;
}

.titulo-index{
  padding-top:150px;
  text-align: center;
}

.logo-index{
  width: 300px;
  height: 300px;
}


