<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/img/favicon.png">

    <title>
      {% block titulo %}{% endblock %}
    </title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    {%block js_head %}{%endblock%}
  
    {% block css_head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
    
  
  </head>

  <body>
    {% block contenido %}{% endblock %}
    
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <script src="/js/scripts.js"></script>

    {%block js_body %}{%endblock%}
  </body>
</html>